/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a {
  color: rgb(0, 0, 0);
}

.textoImagen {
  font-size: 30px;
}

.textoFooter {
  font-size: 28px;
}

p {
  line-height: 2rem;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.socials {
  margin: 2px;
}

.titulo2 {
  font-size: 40px;
}

.titulo3 {
  font-size: 30px;
}

.tituloLibro {
  font-size: 30px;
}

h3 {
  margin: 0;
}

.imgLibroLista {
  width: 100px; 
  height: auto;
  margin-top: 60px;
}

.separacionArriba {
  margin: 15px;
}

hr {
  height: 5px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
}

/*
  When creating your CSS selector,
  change "brown" to something of your choosing
  */
.waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(121, 85, 72, 0.65);
}

.titulos {
  background-color: #4e342e !important;
  color: white;
}

.dataTables_filter {
  font-weight: bold;
  /* font-size: 2px; */
  margin: auto;
}

.dataTables_paginate span a {
  font-size: 20px;
  width: 5%;
  padding: 0 6px;
  font-weight: 700px;
}

.dataTables_paginate span a:hover {
  border: PowderBlue 2px solid; 
  color: black;
}

.first {
  font-size: 20px;
}

.first:hover {
  border: PowderBlue 2px solid; 
  color: black;
}

.last {
  font-size: 20px;
}

.last:hover {
  border: PowderBlue 2px solid; 
  color: black;
}

.next {
  font-size: 20px;
}

.next:hover {
  border: PowderBlue 2px solid; 
  color: black;
}

.previous {
  font-size: 20px;
}

.previous:hover {
  border: PowderBlue 2px solid; 
  color: black;
}