/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a {
  color: rgb(0, 0, 0);
}

.textoImagen {
  font-size: 30px;
}

.textoFooter {
  font-size: 28px;
}

p {
  line-height: 2rem;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.socials {
  margin: 2px;
}

.titulo2 {
  font-size: 40px;
}

.titulo3 {
  font-size: 30px;
}

.tituloLibro {
  font-size: 30px;
}

h3 {
  margin: 0;
}

.imgLibroLista {
  width: 100px; 
  height: auto;
  margin-top: 60px;
}

.separacionArriba {
  margin: 15px;
}

hr {
  height: 5px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
}

/*
  When creating your CSS selector,
  change "brown" to something of your choosing
  */
.waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(121, 85, 72, 0.65);
}

.wk-rma-panel-box #wk-rma-request-list thead tr {
  background-color: #4e342e;
  color: #fff;
}

.wk-rma-panel-box .dataTables_wrapper .dataTables_length select {
  border: none;
  box-shadow: 0 2px 5px 0rgba(0,0,0,.08);
  background-color: #fff;
  margin: 0 5px;
  padding: 0 6px;
}